<?xml version="1.0"?>
<!DOCTYPE ladspa SYSTEM "ladspa-swh.dtd">
<?xml-stylesheet href="ladspa.css" type="text/css"?>

<ladspa>
  <global>
    <meta name="maker" value="Lukas Pirl &lt;lv2@lukas-pirl.de&gt;"/>
    <meta name="copyright" value="GPL"/>
    <meta name="properties" value="HARD_RT_CAPABLE"/>
    <code><![CDATA[
      #include "ladspa-util.h"
      #define MAX_OFFSET 24000
      #define BUFFER_LEN (MAX_OFFSET*2 + 1)
      #define BUFFER_POS(a) (((a) + BUFFER_LEN) % BUFFER_LEN)
    ]]></code>
  </global>

  <plugin label="offset" id="1916" class="UtilityPlugin">
    <name>Offset, sample-based (i.e. positive or negative delay)</name>
    <p>Intended to be used to eliminate offset between tracks (e.g. single sound source recorded from different distances).</p>

    <callback event="instantiate"><![CDATA[
      buffer = calloc(BUFFER_LEN, sizeof(LADSPA_Data));
    ]]></callback>

    <callback event="activate"><![CDATA[
      memset(buffer, 0, BUFFER_LEN * sizeof(LADSPA_Data));
      plugin_data->buffer_w_pos = 0;
      plugin_data->last_delay = 0; //(float)*plugin_data->delay;
      *(plugin_data->latency) = MAX_OFFSET;
    ]]></callback>

    <callback event="cleanup"><![CDATA[
      free(plugin_data->buffer);
    ]]></callback>

    <callback event="run"><![CDATA[

      long buffer_r_pos, delay_delta, i;

      // subtract the plugin's latency (results in no audible offset)
      // and apply user-configured delay (results in the desired offset):
      buffer_r_pos = BUFFER_POS(buffer_w_pos - (MAX_OFFSET + (long)delay));

      delay_delta = (long)delay - last_delay;
      for (; delay_delta<0; delay_delta++) {
        buffer[BUFFER_POS(buffer_r_pos + delay_delta)] = 0.0f;
      }

      for (i=0; i<sample_count; i++) {
        buffer[buffer_w_pos] = input[i];
        buffer_w_pos = BUFFER_POS(buffer_w_pos + 1);

        buffer_write(output[i], buffer[buffer_r_pos]);
        buffer[buffer_r_pos] = 0.0f;
        buffer_r_pos = BUFFER_POS(buffer_r_pos + 1);
      }

      plugin_data->buffer_w_pos = buffer_w_pos;
      plugin_data->last_delay = (long)delay;
    ]]></callback>

    <port label="delay" dir="input" type="control" hint="default_0">
      <name>delay (in samples)</name>
      <range min="-24000" max="24000" steps="48001"/>
    </port>

    <port label="input" dir="input" type="audio">
      <name>Input</name>
    </port>

    <port label="output" dir="output" type="audio">
      <name>Output</name>
    </port>

    <port label="latency" dir="output" type="control">
      <name>latency</name>
    </port>

    <!-- this is a ring buffer -->
    <instance-data label="buffer" type="LADSPA_Data *" />

    <instance-data label="buffer_w_pos" type="long" />
    <instance-data label="last_delay" type="long" />

  </plugin>
</ladspa>
