<?xml version="1.0"?>
<!DOCTYPE ladspa SYSTEM "ladspa-swh.dtd">
<?xml-stylesheet href="ladspa.css" type="text/css"?>

<ladspa>
  <global>
    <meta name="maker" value="Bart Massey &lt;bart.massey@gmail.com&gt;"/>
    <meta name="copyright" value="GPL"/>
    <meta name="properties" value="HARD_RT_CAPABLE"/>
    <code>
      #include "ladspa-util.h"
    </code>
  </global>

  <plugin label="alaw" id="2001" class="DynamicsPlugin">
    <name>A-Law Compressor</name>
    <p>Transforms the input signal according to the
       <a href="http://en.wikipedia.org/wiki/A-law_algorithm">A-law</a>
       compression function, which increases the average
       dynamic range of the signal while preserving the
       peaks.</p>
    <p>An A-law compander pair is part of telephone
       transmission outside of the United State and Japan,
       where &#956;-law companding is used.</p>
    <callback event="run"><![CDATA[
      /* float a = 87.7; */
      float ainv = 0.011402508551881; /* 1.0 / a */
      float aloginv = 0.182684374819744; /* 1.0 / (1.0 + log(a)) */
      float aexp = 16.021419671691538; /* a * aloginv */
      unsigned long pos;
      for (pos = 0; pos < sample_count; pos++) {
          float s = input[pos];
          float sabs = fabs(s);
          if (sabs < ainv) {
              s *= aexp;
          } else {
              if (s >= 0)
                   s = 1.0 + log(sabs) * aloginv;
              else
                   s = -1.0 - log(sabs) * aloginv;
          }
          buffer_write(output[pos], s);
      }
    ]]></callback>

    <port label="input" dir="input" type="audio">
      <name>Input</name>
    </port>

    <port label="output" dir="output" type="audio">
      <name>Output</name>
    </port>
  </plugin>
</ladspa>
